.contenido-principal {
    max-width: 1200px;
    margin: 24px auto;
    padding: 0 16px;
}

.controles-superiores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    background: #fff;
    padding: 16px;
    border-radius: 8px;
}

/* Con este modificas el input de busqueda de arriba*/
/* El espacio quiere decir que es el input de la clase busqueda */
.busqueda input {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 240px;
}

.layout-tienda {
    display: grid;
    grid-template-columns: 240px auto;
    gap: 32px;
}

.filtros {
    background: white;
    padding: 24px;
    border-radius: 8px;
    height: fit-content;
}

.filtro-grupo {
    margin-bottom: 24px;
}

.filtro-grupo h4 {
    margin-bottom: 16px;
    border-bottom: 2px solid #eee;
    padding-bottom: 4px;
}

.filtro-grupo label {
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 16px;
}


.grid-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: 72px 48px;

    justify-items: center;
    max-width: 1200px;
    margin: 40px auto;
}

.card {
    display: flex;
    flex-direction: column; 
    
    
    max-width: 240px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    height: 100%; /* Importante para que todas midan lo mismo en la fila */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
/* Efecto + Sombra */
.card:hover {
    transform: scale(1.05); /* Agranda la card un 5% */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Crea una sombra oscura y suave abajo */
    border-color: transparent; /* Opcional: quita el borde si te molesta al resaltar */
    cursor: pointer;
}


.card img {
    width: 100%;
    /* Definimos una altura fija para todas las imágenes */
    height: 348px; 
    /* Recorta la imagen para que llene el espacio sin estirarse */
    object-fit: cover;
    object-position: center;
    border-radius: 4px; 
}
.card-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 12px;
    gap: 8px;
}
